<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Deleted Employee List</h3>
    <br />
    <div class="content-panel">
        <h4><i class="fa fa-angle-right"></i> All Deleted Employee List</h4>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="input-group" style="margin-left:10px; margin-right:10px">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" ng-model="filter" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="input-group" style="margin-left:10px; margin-right:10px">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-adjust" aria-hidden="true"></i></span>
                        <select class="form-control" ng-model="SelectedStatus" ng-change="" ng-options="o.value as o.label for o in StatusBy">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="input-group" style="margin-left:10px; margin-right:10px">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-list" aria-hidden="true"></i></span>
                        <div ng-dropdown-multiselect="" events="changeEvents" extra-settings="dropConfig"
                             options="ColumnList" selected-model="SelectedColumn"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="input-group" style="margin-left:10px; margin-right:10px">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
                        <select class="form-control" ng-model="selectItem" ng-change="setitemsPerPage(selectItem)" ng-options="o.value for o in ViewItems"></select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="pull-right" style="margin-right:50px !important">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><i class="fa fa-download"></i> Download <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="$('#EmployeeList').tableExport({ type: 'excel', pdfFontSize: 12, escape: 'false', fileName: 'Employee List' });" href=""><i class="fa fa-table" aria-hidden="true"></i> Table Data</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="GenerateReport(Employees)"><i class="fa fa-list" aria-hidden="true"></i> All Data</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="input-group" style="margin-left:10px; margin-right:10px">
                        <span class="input-group-addon" id="basic-addon5">Department</span>
                        <select class="form-control" ng-model="SelectedDepartment" ng-change="getSectionList(SelectedDepartment.id)" ng-options="department as department.department for department in DepartmentList">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="input-group" style="margin-left:10px; margin-right:10px">
                        <span class="input-group-addon" id="basic-addon5">Section</span>
                        <select class="form-control" ng-model="SelectedSection" ng-change="" ng-options="section as section.section for section in SectionList">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <section id="unseen">
            <table id="EmployeeList" class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th ng-if="selectCol.EmployeeId">Employee Id</th>
                        <th ng-if="selectCol.EmployeeName">Employee Name</th>
                        <th ng-if="selectCol.Designation">Designation</th>
                        <th ng-if="selectCol.Department">Department</th>
                        <th ng-if="selectCol.Section">Section</th>
                        <th ng-if="selectCol.Email">Email</th>
                        <th ng-if="selectCol.JoiningDate">Joinig Date</th>
                        <th ng-if="selectCol.Location">Location</th>
                        <th ng-if="selectCol.ReportTo">Report To</th>
                        <th ng-if="selectCol.ReportToDesignation">Report To Designation</th>
                        <th ng-if="selectCol.ReportToDepartment">Report To Department</th>
                        <th ng-if="selectCol.Status">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="info in Employees|filter:{isHOBUConfirmed:SelectedStatus,department:SelectedDepartment.department,section:SelectedSection.section,$:filter}:strict|itemsPerPage:ViewPerPage">
                        <td ng-if="selectCol.EmployeeId">{{info.employeeId}}</td>
                        <td ng-if="selectCol.EmployeeName">{{info.employeeName}}</td>
                        <td ng-if="selectCol.Designation">{{info.designation}}</td>
                        <td ng-if="selectCol.Department">{{info.department}}</td>
                        <td ng-if="selectCol.Section">{{info.section}}</td>
                        <td ng-if="selectCol.Email">{{info.email}}</td>
                        <td ng-if="selectCol.JoiningDate">{{info.joiningDate |date:'dd/MM/yyyy'}}</td>
                        <td ng-if="selectCol.Location">{{info.location}}</td>
                        <td ng-if="selectCol.ReportTo">{{info.reportToName}}</td>
                        <td ng-if="selectCol.ReportToDesignation">{{info.reportToDesignation}}</td>
                        <td ng-if="selectCol.ReportToDepartment">{{info.reportToDepartment}}</td>
                        <td ng-if="selectCol.Status">
                            <span ng-if="!info.isHOBUConfirmed && info.jobPurpose!=null" class="label label-danger label-mini">Pending</span>
                            <span ng-if="info.isHOBUConfirmed && info.jobPurpose!=null" class="label label-success label-mini">Approve</span>
                            <span ng-if="info.jobPurpose==null" class="label label-warning label-mini">Not Submit</span>

                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-info btn-xs dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><i class="fa fa-sun-o" aria-hidden="true"></i> Action <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="ViewEmployee(info)"><i class="fa fa-eye"> View</i></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="RecoverEmployee(info)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Recover</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-left:5px; vertical-align:middle">
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </section>
    </div>
</section>
