<div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New Deparment</h4>
            </div>
            <form name="SectionData" ng-submit="StoreSection(SectionData.$invalid)" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="section" class="text-bold text-primary">Section</label>
                                <input id="section" name="SectionName" class="form-control" ng-model="newSection.section" required/>
                                <div ng-messages="SectionData.SectionName.$error" ng-if="SectionData.$submitted" class="text-danger">
                                    <div ng-message="required">Section Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="sectionDepartment" class="text-bold text-primary">Department</label>
                                <select id="sectionDepartment" name="DepartmentName" class="form-control" ng-model="newSection.departmentId" ng-options="department.id as department.department for department in DepartmentList" required>
                                    <option value="">Select Department</option>
                                </select>
                                <div ng-messages="SectionData.DepartmentName.$error" ng-if="SectionData.$submitted" class="text-danger">
                                    <div ng-message="required">Please select a department for Section</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
                    <button type="submit" ng-disabled="isProcess" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{SectionButton}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
