<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Organogram</h3>
    <br />
    <form>
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Departmental Organogram</h4>
            <br />
            <section id="unseen">
                <div id="chart" ng-model="chartData" agc-on-select="selectHandler(selectedItem)" org-chart="chartData" style="text-align: center">
                    Please Wait...
                </div>
            </section>
        </div>
    </form>

</section>